@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.register {
  display: grid;
  grid-template-columns: 100%;
  height: calc(100% - 6rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 3rem;

  &__content {
    display: grid;
  }

  &__image {
    justify-self: center;

    & img {
      width: 310px;
      margin-top: 1.5rem;
    }
  }

  &__forms {
    position: relative;
    height: auto;
  }

  &__register {
    position: absolute;
    width: 100%;
    background-color: $dark-color-lighten;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 3px 10px rgba(35, 0, 77, 0.2);
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-weight: 500;
    color: #088cfb;
  }

  &__box {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.5rem;
    align-items: center;
    padding: 1.125rem 1rem;
    background-color: $white-color;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }

  &__icon {
    font-size: 1.6rem;
    color: #088cfb;
  }

  &__input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 600;

    &::-webkit-input-placeholder {
      font-size: 1.4rem;
      font-family: $body-font-family;
      color: $dark-color-light;
    }
  }

  &__forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: 0.5rem;
    font-family: 600;
    color: $dark-color-light;
    font-size: 1.4rem;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    color: $white-color;
    background-color: #088cfb;
    text-align: center;
    border-radius: 0.5rem;
    transition: all 0.3s;
    border: 0;
    outline: none;
  }

  &__account,
  &__signup {
    font-weight: 600;
    font-style: 1.5rem;
  }

  &__signup {
    color: #088cfb;
    cursor: pointer;
  }

  &-social__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-social__item {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #088cfb;

    & > a {
      color: #fff;
    }
  }

  &-social__item:nth-child(2) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__error {
    font-family: $body-font-family;
    margin-top: 1rem;
    background: #f54646bd;
    padding: 0.6rem;
    color: #fff;
  }

  @include mediumTabletsLand {
    & {
      //overflow: hidden;
      margin-top: 5rem;
    }

    &__content {
      grid-template-columns: 1fr 390px;
      justify-content: center;
      align-items: center;
      margin-left: 10rem;
    }

    &__image {
      display: flex;
      border-radius: 0.8rem;
      overflow: hidden;

      & img {
        width: 100%;
        object-fit: cover;
        margin-top: 0;
      }
    }

    &__register {
      left: -13rem;
      bottom: -25rem;
      padding-left: 2rem;
      padding-right: 2rem;
      border-radius: 0.5rem;
    }
  }
}
