@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.l-header {
  width: 100%;
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
}

.nav {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__toggle {
    font-size: 2.2rem;
    cursor: pointer;
  }

  &__logo {
    position: relative;
    display: inline-block;
    font-weight: $font-semi-bold;
    font-size: $big-font-size;
    color: #088cfb;
  }

  &__login {
    display: inline-block;
    background-color: #088cfb;
    color: $white-color;
    padding: 0.5rem 1.4rem;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 0.8rem;
  }

  &__account {
    position: relative;
    margin-left: 3rem;
    cursor: pointer;

    & > i {
      font-size: 2.4rem;
      display: block;
    }

    &:hover &-sub {
      opacity: 1;
      visibility: visible;
    }

    &-sub {
      position: absolute;
      background-color: #fff;
      width: 12rem;
      top: 100%;
      left: -1.5rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s linear;
      box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);

      & > a {
        display: block;
        padding: 1rem 1rem;
        border-bottom: 1px solid #eee;

        &:last-of-type {
          border-bottom: 0;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @include smallerMobiles {
    &__menu {
      position: fixed;
      top: 6rem;
      left: -100%;
      width: 70%;
      height: 100vh;
      padding: 3.2rem;
      background-color: $white-color;
      transition: left ease 0.5s;

      &.show {
        left: 0;
      }
    }

    &__item {
      margin-bottom: 3rem;
    }

    &__logo {
      left: 1.5rem;
    }

    &__login {
      font-size: 1.4rem;
      background-color: $white-color;
      color: $dark-color;
      padding: 0.4rem 1.2rem;
      border: 1px solid #d2d2d2;
      margin-left: 0;
    }
  }

  &__item {
    margin-bottom: 2rem;
  }

  @include mediumTabletsLand {
    &__menu {
      margin-left: auto;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin-left: 3rem;
      margin-bottom: 0;
      font-weight: 400;

      .divider {
        width: 1px;
        background-color: #e3e3e3;
        display: block;
        height: 100%;
      }
    }

    &__link {
      color: $background-color-dark;
    }

    &__toggle {
      display: none;
    }
  }
}
