.todos {
  width: 100%;
  max-width: 134rem;
  margin: 0 auto;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: normal;
    height: 100%;
  }
}
