@import "./variables.scss";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: $font-medium;
  background-color: $background-color-light;
  color: $background-color-dark;
  line-height: 1.4;
  overflow: auto;
  transition: background-color 0.2s linear;
}

body.dark {
  background-color: $background-color-dark;
  color: $background-color-light;
  transition: background-color 0.2s linear;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
optgroup,
select {
  font-family: $body-font-family;
  outline: none;
  margin: 0;
  color: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
