*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
optgroup,
select {
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin: 0;
  color: inherit;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* animations */
.fade-down {
  animation: fadeDown 1.2s ease-out;
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(15px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
