@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

// Global
$header-height: 6rem;

// Fonts
$body-font-family: "Montserrat", sans-serif;
$big-font-size: 2rem;
$bigger-font-size: 2.4rem;
$biggest-font-size: 3.2rem;
$h2-font-size: 2rem;
$normal-font-size: 1.5rem;
$smaller-font-size: 1.3rem;

// Font Weight
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Colors
$dark-color: #141414;
$dark-color-light: #8a8a8a;
$dark-color-lighten: #f2f2f2;
$white-color: #fff;
$label-color: #908e9b;

// Z-index
$z-fixed: 100;

// Transitions
$transition-fast-in-slow-out: cubic-bezier(0.1, 0.82, 0.25, 1);
$transition-slow-in-fast-out: cubic-bezier(0.55, 0.055, 0.675, 0.19);

// Media Queries - mobile first
$smaller-mobiles-width: "only screen and (max-width: 767px)";
$tablets-width-up: "only screen and (min-width: 720px)";
$tablets-land-width-up: "only screen and (min-width: 960px)";
$large-desktops-width: "only screen and (min-width: 1024px)";
