@import '../../../styles/variables.scss';

.todoForm {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__input {
    outline: none;
    border: 1px solid #eee;
    resize: none;
    border-radius: 4px;
    font-family: $body-font-family;
    padding-top: 1rem;
    padding-left: 0.8rem;

    &::-webkit-input-placeholder {
      padding: 0rem 0.8rem;
    }

    &:focus {
      border-color: lightblue;
    }
  }

  &__confirm {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__button {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 4px;
    background-color: transparent;

    &--ok {
      background-color: #5aac44;
      color: #fff;
    }

    & + button {
      margin-left: 0.8rem;
    }

    &-icon {
      font-size: 2rem;
      color: #e94848;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__createButton {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    outline: none;
    padding: 1rem 3rem 1rem 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #ebecf0;
    border: 0;
    border-radius: 0.3rem;
    transition: all ease 0.4s;

    &:hover {
      background-color: rgba(230, 224, 224, 0.808);
    }

    & i {
      margin-right: 0.8rem;
    }
  }
}
