.modal {
  width: 100%;
  max-width: 95rem;
  //min-height: 62.5rem;
  max-height: calc(100vh - 2rem);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e4e4e4;
  padding: 2rem 1.5rem;
  border: 0;
  outline: none;
  border-radius: 6px;
  overflow-y: auto;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 99;
}
