.topbar {
  background-color: bisque;
  height: 3rem;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    background-color: lightblue;
    padding: 0 1.5rem;
    border-radius: 0.6rem;
  }

  &__lang {
    display: flex;
    align-items: center;

    &-en,
    &-vn {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }

    &-line {
      display: block;
      width: 2px;
      height: 2rem;
      background-color: #999999;
      margin: 0 1rem;
    }
  }
}
