.dashed {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &-loading {
    position: relative;
    height: 50px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }

    &::before {
      z-index: 5;
      border: 3px dashed #8be9fd;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
      -webkit-animation: dashed 1s linear infinite;
      animation: dashed 1s linear infinite;
    }

    &::after {
      z-index: 10;
      border: 3px solid #8be9fd;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
      -webkit-animation: dashed 1s ease infinite;
      animation: dashed 1s ease infinite;
    }
  }
}

@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}
